attrs
braceexpand
cattrs
h5py
huggingface_hub
hydra-submitit-launcher
kornia
kornia_rs
lance-namespace
lance-namespace-urllib3-client
lightning
lightning-utilities
minari
opt_einsum
pylance
pytorch-lightning
requests-cache
richuru
stable-pretraining
submitit
timm
torchmetrics
transforms3d
url-normalize
webdataset
torch
torchvision
numpy
scipy
scikit-learn
matplotlib
pillow
